body {
  background-image: url("images/wedding-backdrop.jpg");
  font-family: red hat text;
}


h1 {
  text-transform: uppercase;
  color:hsl(345, 95%, 68%);
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 5px;
  padding: 5%;
  margin-top:10%;
}

section {
  display: grid;
  grid-template-columns: 25% 25% 25% 25% 25%;
  justify-content: space-between;
  text-align: center;
}

.months, .days, .hours, .seconds, .minutes {
  color: hsl(345, 95%, 68%);
  font-size: 2.2rem;
  background-color: #ECCAA4;
  padding: 10px;
  margin: 20px;
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 5px;
}

p {
  color: #BD958D;
  letter-spacing: 2px;
  font-size: 1rem;
}

footer {
  text-align: center;
  margin-top: 12%;
  color: hsl(345, 95%, 68%)
}


@media (min-width: 800px) {
  main {
    margin-top: 0%;
  }
  section {
    justify-content: none;
    margin-left: 30%;
    margin-right: 30%;
  }
}